@media screen and (max-width:970px) {
  .navbar {
    padding: 0;
    text-align: center;
  }
  .navbar a {
    color:white;
  }


  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(36, 36, 36, 0.796);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: -100%;
    transition: all 0.5s ease;
    border-bottom: 0 transparent;
  } 

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  

  }
  .navbar .nav-links ul li {
    margin: 25px 0; 
    font-size: 1em;
  }



  .sub-menu1 li {
    left: 90%;
    top: -75px;
  }

  .sub-menu2 li {
    left: 90%;
    top: -75px;;
  }
  .sub-menu3 li {
    left: 90%;
    top: -75px;
  }

  
 

  .bordure_noir {
    position: relative;
    width: 90%;
    margin: auto;
    height: 500px;
    background-color: black;
    border: double 15px white;
    }

    .slider {
      position: absolute;
      top: 22%;
      width: 90%;
      height: 50%;
      margin: 0 auto;
      overflow: hidden;
      }
      .slider-text {

        text-align: center;
        color: rgb(12, 12, 11);
        position: absolute;
        right: 60%;
        left: 5%;
        width: 90%;
        height: 14%;
        top: 5%;
        background-color: whitesmoke;
        font-size: auto;
        font-family: 'Elephant';
    
      }
    
      .slider-text2 {
  
      right: 60%;
      left: 5%;
      width: 90%;
      height: 20%;
      top: 74%;
      font-size: 20px;
    }

    .slider img {
    width: 90%;
    height: 80%;

    }

    .imagelogo {top: 10px;}

    
    
    
      .reseaux-sociaux img{
        width:35px;
        height:35px;
      }
    
    
    
      .photo_facebook {
        position: absolute;
        top:5%;
        }
        .tiktok {
        position: absolute;
        top: 5%
        }
        
        .photo_insta {
        position: absolute;
        top: 5%
        }
        
        .photo_youtube {
        position: absolute;
        top: 5%
        }


        iframe {
          position: absolute;
          width:95%;
          left: 1%;
          height: 70%;
          align-items: center;
          margin: auto;
        
        }

        .support_vid{
          background-color: black;
          width: 97%;
     
        }
}

@media screen and (max-width: 500px) {
  section#contact .contact for {
      flex-direction: column;
      width: 95%;
  }
  section#contact .contact for input{
      width: 100%;
  }

  section#contact .container .title h6{
  font-size: 1em;

  }
  section#contact .container .title h3{
  font-size: 2em;
  }
}




@media screen and (max-width: 750px ) {

  .boutoncontact{

    position: absolute;
    top: 40%;
    left:30%;
    width: 30%;
    align-items: center;
    transform: (-50%,-50%);

}

.boutoncontact a {
	width: 100%;
	height: 30%;
  align-items: center;

}
footer{

  background-color: rgb(40, 39, 39);
  width: 100%;
  height: 250px;
  position: relative;
}

.CGU{

  position: absolute;
  left: 20%;
  width: 30%;
  transform: (-50%,-50%);
  }


  .boutoncontacte{

    position: absolute;
    left: 20%;
    top: 40%;
    width: 30%;
    transform: (-50%,-50%);
  
    }

    .M_Legal{

      position: absolute;
      left: 20%;
      width: 30%;
      transform: (-50%,-50%);
      bottom: 1%;
      }


}

@media screen and (max-width: 680px) {
  .imagelogo {
    top: 10px;
    height: 70px;
    width: 70px;
  
  }
  .Max {
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: -10;
    }
  
    .Mag { 
      position: absolute;
      right: 20%;
      top: 120px;
      z-index: -10;
    }

}

@media screen and (min-width:680px) and (max-width: 1230px) {
.Max {
  position: absolute;
  top: 140px;
  right: 20%;
  z-index: -10;
  }

  .Mag { 
    position: absolute;
    right: 20%;
    top: 180px;
    z-index: -10;
  }
}