body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
img {
    max-width: 100%;
}

/* contenu */
section {
    clear: both;
}
article {
    padding: 10px;
}
article h1 {
    text-align: center;
    font-size: 30px;
}
article h2 {
    text-align: center;
    font-size: 25px;
}
/* accueil */
.accueil {
    background-color: rgb(118, 0, 0);
    padding: 20px 0;
}
.accueil .bordure_noir {
    background-color: black;
    border: double 15px white;
    padding: 10px;
}
.accueil-text {
    background-color: white;
    margin: 30px 0;
}
/* slider */

.slider {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-areas: "slide";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}
.slider .slide {
    grid-area: slide;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slider .slide.active {
    opacity: 1;
}
.slider-arrow {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    user-select: none;
    display: flex;
    font-size: 30px;
}
.slider-arrow-left {
    left: 0;
}
.slider-arrow-right {
    right: 0;
}
/* Formulaire */
#contact {
    background-image: url(/Image/test\ fond.jpg);
    padding: 20px 15px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    background-color: black;
    background-repeat: no-repeat;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -10px #d6d6d6a3;
    align-items: stretch;
}
form h3 {
    font-size: 2em;
    text-align: center;
    color: rgb(118, 0, 0);
    margin: 0;
}
form h6 {
    font-size: 1em;
    text-align: center;
    color: rgb(118, 0, 0);
    margin: 0;
}
form input, form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: all 0.2s;
}
form textarea {
    resize: none;
}
textarea, input {
    font-family: 'Poppins', sans-serif;
}
form input:focus, form input:hover {
    border-color: #760000;
}
form input[type="submit"] {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #b14c4c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    outline: none;
    margin: 25px auto 0 auto;
    transition: 0.2s;
}
form input[type="submit"]:hover {
    transform: translateY(5px);
}
/* at-rules */

@font-face {
    font-family: 'Brush Script MT';
    src:
        url(/fonts/BrushScriptMT/BrushScriptMT.otf) format("opentype"),
        url(/fonts/BrushScriptMT/BrushScriptMT.ttf) format("truetype");
}
@font-face {
    font-family: 'Poppins';
    src:
        url(/fonts/Poppins/Poppins-Regular.ttf) format('truetype'),
        url(/fonts/Poppins.woff2) format('woff2');
}