/* Style principal du header */

header .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Brush Script MT', Georgia;
    animation: slide-in 1s ease-out;
}


/* Cache les images avec la classe "suit" par défaut */
.brand img.suit {
    display: none; /* Empêche l'affichage initial */
}

/* Positionne les images dans des zones spécifiques de la grille */
.brand img.coeur {
    grid-area: coeur; /* Définit la zone de la grille pour "coeur" */
}
.brand img.pique {
    grid-area: pique; /* Définit la zone de la grille pour "pique" */
}
.brand img.carreau {
    grid-area: carreau; /* Définit la zone de la grille pour "carreau" */
}
.brand img.trefle {
    grid-area: trefle; /* Définit la zone de la grille pour "trefle" */
}
/* Dimensions spécifiques pour le logo principal */
.brand img.logo {
    max-width: 22vw; /* Limite la largeur à 22% de la fenêtre */
    max-height: 73px; /* Limite la hauteur maximale à 73 pixels */
    grid-area: logo; /* Positionne l'image du logo dans la grille */
}

/* Style du titre principal de la marque */
.brand h1 {
    font-size: 33px; /* Taille de police pour le titre principal */
    margin: 0; /* Supprime les marges par défaut */
    text-align: center; /* Centre le texte horizontalement */
}

/* Style du sous-titre de la marque */
.brand h2 {
    font-size: 24px; /* Taille de police pour le sous-titre */
    margin: 2px; /* Ajoute un léger espacement vertical */
    text-align: center; /* Centre le texte horizontalement */
}

@media screen and (min-width:600px) {
    header .brand {
        display: grid;
        grid-template-areas: "trefle . coeur logo pique . carreau";
        justify-items: center;
        padding-bottom: 10px;
    }
    .brand img.logo {
        width: 80px;
        max-width: unset;
        max-height: unset;
        margin: 0;
    }
    .brand img.suit {
        height: 50px;
        display: unset;
    }
}
@keyframes slide-in {
    0% {
        transform: translate(-1000%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
/* menu */
header {
    display: inline;
}
nav li {
    list-style:none;
}
nav ul {
    padding: 0;
    margin: 0;
}

@media screen and (max-width:599px) {
    nav {
        position: fixed;
        top: 0;
        width: 100vw;
        transition: transform 0.2s ease;
        z-index: 1;
    }
    nav.hidden {
        transform: translate(-100%, 0);
    }

    #menu-hamburger {
        width: 40px;
        position: fixed;
        bottom: 3vw;
        right: 3vw;
        padding: 2px;
        z-index: 2;
        cursor: pointer;
    }

    nav a, nav span {
        color: white;
        text-decoration: none;
        display: block;
        padding: 16px;
        font-size: 16px;
        background-color: rgba(36, 36, 36, 0.87);
        transition: background-color 0.5s ease;
    }

    nav a:hover {
        background-color: rgba(36, 36, 36, 0.99);
    }

    nav ul ul a {
        text-align: center;
    }

    nav ul ul {
        display: none;
    }

    nav ul li:hover ul {
        display: unset;
    }

    nav a.active {
        color: #c80000;
        font-weight: bold;
    }
}

@media screen and (min-width:600px) {/*partir de la navbar +600px */
    #menu-hamburger {
        display: none;
    }
    nav {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }
    nav > ul {
        display: flex;
        align-items: end;
        justify-content: stretch;
    }
    nav > ul > li {
        flex-grow: 1;
    }
    nav > ul > li > a, nav > ul > li > span {
        text-align: center;
    }
    nav ul ul {
        display: none;
        position: absolute;
        background-color: rgba(12, 12, 12, 0.727);
        left: 50%;
        translate: -50%;
        min-width: 100%;
    }
    nav a, nav span {
        text-decoration: none;
        display: block;
        padding-top: 10px;
        padding-bottom: 5px;
        color: black;
        font-size: 16px;
        transition: all 0.5s ease;
        border-bottom: 2px solid #c80000;
    }
    nav ul ul a {
        text-align: center;
        border: none;
        min-width: max-content;
        color: white;
        width: auto;
    }
    nav a:hover, nav span:hover {
        background-color: rgba(12, 12, 12, 0.727);
        color: white;
    }
    nav > ul > li {
        position: relative;
    }
    nav > ul > li:hover ul {
        display: block;
    }
}

