body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
img {
    max-width: 100%;
}

/* logo */
header .logo {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Brush Script MT', Georgia;
    animation: slide-in 1s ease-out;
}

.logo img {
    float: left;
    max-width: 22vw;
    max-height: 73px;
}

.logo h1 {
    font-size: 33px;
    margin: 0;
    text-align: center;
}

.logo h2 {
    font-size: 24px;
    margin: 2px;
    text-align: center;
}

/* menu */
nav {
    clear: both;
    position: absolute;
    width: 100vw;
    transition: transform 0.2s ease;
    z-index: 1;
}
nav.hidden {
    transform: translate(-100%, 0);
}

#menu-hamburger {
    width: 40px;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    padding: 2px;
    z-index: 2;
    cursor: pointer;
}

nav li {
    list-style:none;
}
nav ul {
    padding: 0;
    margin: 0;
}

nav a, nav span {
    color: white;
    text-decoration: none;
    display: block;
    padding: 16px;
    font-size: 16px;
    background-color: rgba(36, 36, 36, 0.87);
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: rgba(36, 36, 36, 0.99);
}

nav ul ul a {
    text-align: center;
}

nav a.active {
    color: rgb(200, 0, 0);
    font-weight: bold;
}
/* contenu */
section {
    clear: both;
}
article {
    padding: 10px;
}
article h1 {
    text-align: center;
    font-size: 30px;
}
article h2 {
    text-align: center;
    font-size: 25px;
}
/* accueil */
.accueil {
    background-color: rgb(118, 0, 0);
    padding: 20px 0;
}
.accueil .bordure_noir {
    background-color: black;
    border: double 15px white;
    padding: 10px;
}
.accueil-text {
    background-color: white;
    margin: 30px 0;
}
/* slider */

.slider {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-areas: "slide";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: stretch;
}
.slider .slide {
    grid-area: slide;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slider .slide.active {
    opacity: 1;
}
.slider-arrow {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    user-select: none;
    display: flex;
    font-size: 30px;
}
.slider-arrow-left {
    left: 0;
}
.slider-arrow-right {
    right: 0;
}
/* Formulaire */
#contact {
    background-image: url(/Image/test\ fond.jpg);
    padding: 20px 15px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    background-color: black;
    background-repeat: no-repeat;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -10px #d6d6d6a3;
    align-items: stretch;
}
form h3 {
    font-size: 2em;
    text-align: center;
    color: rgb(118, 0, 0);
    margin: 0;
}
form h6 {
    font-size: 1em;
    text-align: center;
    color: rgb(118, 0, 0);
    margin: 0;
}
form input, form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: all 0.2s;
}
form textarea {
    resize: none;
}
textarea, input {
    font-family: 'Poppins', sans-serif;
}
form input:focus, form input:hover {
    border-color: #760000;
}
form input[type="submit"] {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #b14c4c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    outline: none;
    margin: 25px auto 0 auto;
    transition: 0.2s;
}
form input[type="submit"]:hover {
    transform: translateY(5px);
}
/* Réseau sociaux */
.reseaux-sociaux {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
}
.reseaux-sociaux a {
    display: block;
    width: 35px;
    height: 35px;
}
/* footer */
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
}
.dark-mode {
    background-color: rgb(40, 39, 39);
}
.button {
    display: flex;
    position: relative;
    width: 200px;
    min-height: 75px;
    border: 5px dotted white;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
    font-weight: 700;
    color: white;
    background: rgb(40, 39, 39);
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}
.button::before {
    content: '';
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 0% 0% 50% 50%;
    z-index: -1;
    transition: all 2s;
}
.button:hover::before {
    bottom: 0px;
    border-radius: 0px;
}

.red-rounded {
    color: rgb(43, 69, 174);
    border-radius: 30px;
    background: rgb(118, 0, 0);
}

.red-rounded::before {
    background: white;
    border-radius: 50% 50% 0% 0%;
    top: 75px;
    bottom: unset;
}

.red-rounded:hover::before {
    bottom: unset;
    top: 0px;
}
/* at-rules */
@keyframes slide-in {
    0% {
        transform: translate(-1000%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@font-face {
    font-family: 'Brush Script MT';
    src:
        url(/fonts/BrushScriptMT/BrushScriptMT.otf) format("opentype"),
        url(/fonts/BrushScriptMT/BrushScriptMT.ttf) format("truetype");
}
@font-face {
    font-family: 'Poppins';
    src:
        url(/fonts/Poppins/Poppins-Regular.ttf) format('truetype'),
        url(/fonts/Poppins.woff2) format('woff2');
}